body{
      background-image: url("includes/img/IMG_6196.jpeg");
			background-repeat: no-repeat;
			background-size: cover;
}



.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* or any height you want */
}

.centered-text {
text-align: center;
}




/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set up the typewriter styles */
  .typewriter h1 {
    font-size: 36px;
    font-weight: bold;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(0, 120, 212); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing animation */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor animation */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 120, 212) }
  }